body {
    background-image:url(Background.jpg);
}

#Cookie {
    position:absolute;
    left:7%;
    top:10%;
}

#CookieImage {
    width:35%;
    animation: rotation 15s infinite linear;
}
#CookieImage:active {
    transition: all 0.2s ease-in-out;
    transform:scale(0.92,0.92)
}

#CookieCount {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 40px;
}

#Upgrades {
    position:absolute;
    right:5%;
    top:15%;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 30px;
    width: 40%;
    height: 70%;
}

td {
    border: 2px solid yellow;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

#CookieCPS {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 0%;
}

#Count {
    position:absolute;
    left:10%;
    top:75%;
    width: 100%
}

#ClickPower {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 20px;
    position: absolute;
    left: 28%;
}

#TotalClicks {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 20px; 
    position: absolute;
    left: 56%;
}

#GoldenCookie {
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 1;
    display: none;
}

#GoldenText {
    color:aquamarine;
    font-family: cursive;
    font-size: 50px;
    position: absolute;
    width: 100%;
    top: 60%;
    left: 10%;
    display: none;
}



#UpgradeTable {
    border: 2px solid yellow;
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

#UpgradeTh {
    border: 2px solid yellow;
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

#Stats {
    width:100%
}

#Categories {
    position: absolute;
    right: 20%;
    top: 5%;
    color: floralwhite;
    font-family: sans-serif;
    font-size: 40px;
    width: 20%;
}

#Padding {
    padding:20px;
}

#UpgradesText:hover {
    color: antiquewhite;
}

#MultiplierText:hover {
    color: antiquewhite;
}

#Multipliers {
    position:absolute;
    right:5%;
    top:15%;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 30px;
    width: 40%;
    display: none;
}

#MultiplierTable {
    border: 2px solid yellow;
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

.ThStyle {
    width:33%;
}

#Grandma1 {
    display: none;
}

#Farm1 {
    display: none;
}

#Mine1 {
    display: none;
}

#Factory1 {
    display: none;
}

#Clicker1 {
    display: none;
    width: 100%;
}

#Mine2 {
    display: none;
}

#Factory2 {
    display: none;
}

#Farm2 {
    display: none;
}

#Grandma2 {
    display: none;
}

#Clicker2 {
    display: none;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


#SecretImage {
    width:10%;
    height:10%;
    position: absolute;
    top:50%;
    left: 30%;
    background-color: aliceblue; 
    z-index: 5;
}
